
@use "layouts";
@use "vertical-nav";

:root {
    --d-background: 248,247,250;
    // --d-background-overlay-multiplier: 1;
    // --d-surface: 255,255,255;
    // --d-surface-overlay-multiplier: 1;
    // --d-surface-bright: 255,255,255;
    // --d-surface-bright-overlay-multiplier: 1;
    // --d-surface-variant: 66,66,66;
    // --d-surface-variant-overlay-multiplier: 2;
    // --d-on-surface-variant: 238,238,238;
    // --d-primary: 115,103,240;
    // --d-primary-overlay-multiplier: 1;
    // --d-primary-darken-1: 55,0,179;
    // --d-primary-darken-1-overlay-multiplier: 2;
    // --d-secondary: 168,170,174;
    // --d-secondary-overlay-multiplier: 1;
    // --d-secondary-darken-1: 1,135,134;
    // --d-secondary-darken-1-overlay-multiplier: 1;
    // --d-error: 234,84,85;
    // --d-error-overlay-multiplier: 1;
    // --d-info: 0,207,232;
    // --d-info-overlay-multiplier: 1;
    // --d-success: 40,199,111;
    // --d-success-overlay-multiplier: 1;
    // --d-warning: 255,159,67;
    // --d-warning-overlay-multiplier: 1;
    // --d-on-primary: 255,255,255;
    // --d-on-secondary: 255,255,255;
    // --d-on-success: 255,255,255;
    // --d-on-info: 255,255,255;
    // --d-on-warning: 255,255,255;
    // --d-on-background: 47,43,61;
    // --d-on-surface: 47,43,61;
    // --d-grey-50: 250,250,250;
    // --d-grey-50-overlay-multiplier: 1;
    // --d-grey-100: 245,245,245;
    // --d-grey-100-overlay-multiplier: 1;
    // --d-grey-200: 238,238,238;
    // --d-grey-200-overlay-multiplier: 1;
    // --d-grey-300: 224,224,224;
    // --d-grey-300-overlay-multiplier: 1;
    // --d-grey-400: 189,189,189;
    // --d-grey-400-overlay-multiplier: 1;
    // --d-grey-500: 158,158,158;
    // --d-grey-500-overlay-multiplier: 1;
    // --d-grey-600: 117,117,117;
    // --d-grey-600-overlay-multiplier: 2;
    // --d-grey-700: 97,97,97;
    // --d-grey-700-overlay-multiplier: 2;
    // --d-grey-800: 66,66,66;
    // --d-grey-800-overlay-multiplier: 2;
    // --d-grey-900: 33,33,33;
    // --d-grey-900-overlay-multiplier: 2;
    // --d-perfect-scrollbar-thumb: 219,218,222;
    // --d-perfect-scrollbar-thumb-overlay-multiplier: 1;
    // --d-skin-bordered-background: 255,255,255;
    // --d-skin-bordered-background-overlay-multiplier: 1;
    // --d-skin-bordered-surface: 255,255,255;
    // --d-skin-bordered-surface-overlay-multiplier: 1;
    // --d-skin-default-background: 248,247,250;
    // --d-skin-default-background-overlay-multiplier: 1;
    // --d-skin-default-surface: 255,255,255;
    // --d-skin-default-surface-overlay-multiplier: 1;
    // --d-on-surface-bright: 0,0,0;
    // --d-on-primary-darken-1: 255,255,255;
    // --d-on-secondary-darken-1: 255,255,255;
    // --d-on-error: 255,255,255;
    // --d-on-grey-50: 0,0,0;
    // --d-on-grey-100: 0,0,0;
    // --d-on-grey-200: 0,0,0;
    // --d-on-grey-300: 0,0,0;
    // --d-on-grey-400: 0,0,0;
    // --d-on-grey-500: 255,255,255;
    // --d-on-grey-600: 255,255,255;
    // --d-on-grey-700: 255,255,255;
    // --d-on-grey-800: 255,255,255;
    // --d-on-grey-900: 255,255,255;
    // --d-on-perfect-scrollbar-thumb: 0,0,0;
    // --d-on-skin-bordered-background: 0,0,0;
    // --d-on-skin-bordered-surface: 0,0,0;
    // --d-on-skin-default-background: 0,0,0;
    // --d-on-skin-default-surface: 0,0,0;
    // --v-border-color: 47, 43, 61;
    // --v-border-opacity: 0.16;
    // --v-high-emphasis-opacity: 0.78;
    // --v-medium-emphasis-opacity: 0.68;
    // --v-disabled-opacity: 0.42;
    // --v-idle-opacity: 0.04;
    // --v-hover-opacity: 0.04;
    // --v-focus-opacity: 0.12;
    // --v-selected-opacity: 0.06;
    // --v-activated-opacity: 0.16;
    // --v-pressed-opacity: 0.14;
    // --v-dragged-opacity: 0.1;
    // --d-kbd: 33, 37, 41;
    // --d-on-kbd: 255, 255, 255;
    // --d-code: 245, 245, 245;
    // --d-on-code: 0, 0, 0;
    // --v-code-color: 212, 0, 255;
    // --v-overlay-scrim-background: 76, 78, 100;
    // --v-tooltip-background: 74, 80, 114;
    // --v-overlay-scrim-opacity: 0.5;
    // --v-switch-opacity: 0.2;
    // --v-switch-disabled-track-opacity: 0.3;
    // --v-switch-disabled-thumb-opacity: 0.4;
    // --v-switch-checked-disabled-opacity: 0.3;
    // --v-shadow-key-umbra-color: 47, 43, 61;
}

*{
    padding: 0px;
    margin: 0px;
}