// 👉 Vertical nav
$layout-vertical-nav-z-index: 12 !default;
$layout-vertical-nav-width: 260px !default;
$vertical-nav-background-color-rgb: var(--d-background) !default;
$vertical-nav-background-color: rgb(#{$vertical-nav-background-color-rgb}) !default;

// 👉 Navbar
$layout-vertical-nav-navbar-height: 64px !default;

// ℹ️ Se utiliza para mantener la coherencia entre los elementos
// se utiliza en nav-items y nav-header
$vertical-nav-horizontal-spacing: 1rem !default;
$vertical-nav-horizontal-padding: 0.75rem !default;

// Altura vertical del nav-header 
$vertical-nav-header-height: $layout-vertical-nav-navbar-height !default;

// Vertical nav header padding
$vertical-nav-header-padding: 1rem $vertical-nav-horizontal-padding !default;
$vertical-nav-header-inline-spacing: $vertical-nav-horizontal-spacing !default;